<div *ngIf="state" class="container pt-3">
  <div>
    <h5 class="bold pb-0 mb-0 orange">Current status</h5>
    <span>{{state.currentStatus}}</span> <i *ngIf="state.withoutSession()" class="fa fa-refresh"
                                            (click)="clickConfirm()"></i>
  </div>

  <div class="mt-3">
    <app-roc-statistics [statistics]="state.statistics"></app-roc-statistics>
  </div>

  <app-console-output [logLines]="state.logLines"></app-console-output>

  <app-last-image [state]="state"></app-last-image>
</div>
